#ignore project side/run files
ansible  
docker-compose.yml  
Dockerfile
Dockerfile-Deployment
Jenkinsfile  
Jenkinsfile_Docker    
/scripts
minikube-linux-amd64
/__pycache__
/ansible
/k8
#ignore secret  
.env
.gitignore

#ignore files
*.yml
*.sh
*.pyc
*.pyo

# Miscellaneous
README.md