/* Reset some default styles for the body and the root container */
body, html {
    margin: 0;
    padding: 0;
}

/* Set background properties */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url({{ url_for('static', filename='images/BG.png') }}), center, 100% 100%, no-repeat;
    background-size: cover;
}


/* App container styles */
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Login box styles */
.Loginbox {
    width: 550px;
    height: 680px;
    padding: 20px 99px 52px 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    overflow: hidden;
    border: 1.5px rgba(28, 77, 106, 0.01) solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    background-color: lightgray; /* Add background color here */
}

/* Login profile icon styles */
.LoginProfileIco {
    width: 307px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-size: cover;
}

/* User profile image styles */
.UserProfil {
    width: 129.73px;
    height: 146.38px;
    border-radius: 22px;
    border: 1px #A73EE7 solid;
}

/* Username and Password prompt container styles */
.PassUserPrompt {
    width: 545px;
    height: 126px;
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* Username prompt styles */
.UsernamePrompt, .PasswordPrompt {
    width: 313px;
    padding: 10px;
    border-bottom: 0.5px #22648C solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/* Username and Password label styles */
.Username, .Password {
    width: 260px;
    height: 30px;
    color: white;
    font-size: 20px;
    font-family: "Yu Gothic", sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

/* Icon container styles */
.PersonIco, .LockIco {
    width: 24.29px;
    height: 23.64px;
    position: relative;
    background-size: cover;
}

.PersonIco {
    background-image: url({{ url_for('static', filename='images/person.ico') }});
}

.LockIco {
    background-image: url({{ url_for('static', filename='images/lock.ico') }});
}

/* Vector (icon) styles */
.Vector {
    width: 15.18px;
    height: 19.21px;
    left: 4.55px;
    top: 2.22px;
    position: absolute;
    border: 0.75px #22648C solid;
}

/* Signin and Signup buttons container styles */
.SignupSigninButtons {
    width: 549px;
    height: 184px;
    padding: 20px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Signin button styles */
.SigninButton, .SignupButton {
    width: 150px;
    height: 50px;
    padding: 11px 9px;
    border-radius: 15px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border: 1.5px rgba(34, 100, 140, 0.4) solid; /* Add border styles here */
}

/* Signin and Signup button text styles */
.SignIn, .SignUp {
    width: 82px;
    height: 27px;
    color: #22648C;
    font-size: 20px;
    font-family: "Yu Gothic", sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}
