---
apiVersion: v1
kind: Service
metadata:
  name: pypet-service
  namespace: pypet-app
spec:
  selector:
    app: pypet-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 5000
    #nodePort: 30007
  type: LoadBalancer