.Bg {
  width: 1920px;
  height: 1080px;
  background: 
    linear-gradient(225deg, rgba(0, 133, 255, 0.10) 11.85%, rgba(220, 112, 255, 0.10) 100%), 
    url('BG.png'), 
    linear-gradient(0deg, black 0%, black 100%), 
    linear-gradient(252deg, rgba(0, 132.60, 255, 0.10) 12%, rgba(220, 112, 255, 0.10) 100%);
  background-size: cover;
  flex-shrink: 0;
}

.Rectangle_L {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 522px;
  height: 755px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid rgba(28, 77, 106, 0.01);
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  background: white;
}

.polygon-0 { transform: rotate(0deg); }
.polygon-10 { transform: rotate(10deg); }
.polygon-20 { transform: rotate(20deg); }
.polygon-30 { transform: rotate(30deg); }
.polygon-40 { transform: rotate(40deg); }
.polygon-50 { transform: rotate(50deg); }
.polygon-60 { transform: rotate(60deg); }
.polygon-70 { transform: rotate(70deg); }
.polygon-80 { transform: rotate(80deg); }
