<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/app_page.css') }}">
    <script src="https://kit.fontawesome.com/8869c37802.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="App_Frame">
        <div class="Side_Menu">
        </div>
        <div class="Content_Frame">
        </div>
        <div class="Profile_Frame">
            <div class="Action_Frame">
                <img src="{{ url_for('static', filename='images/Profile_Action.svg')}}" alt="Profile">
                <img src="{{ url_for('static', filename='images/Bell_Action.svg')}}" alt="Bell: Notifications/Mail">
                <img src="{{ url_for('static', filename='images/Chat_Action.svg')}}" alt="Chat">
                <img src="{{ url_for('static', filename='images/Setting_Action.svg')}}" alt="Settings">
            </div>
            <div class="svg-container-profile">
                {% for i in range(20) %}
                    <img src="{{ url_for('static', filename='images/Polygon.svg') }}" alt="SVG Image" style="position: absolute; top: 40%; left: 50%; width: 75%; height: 75%; transform: translate(-50%, -50%) rotate({{ i * 15 }}deg); transform-origin: 50% 50%;">
                {% endfor %}
                <div style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); width: 50%; height: 50%;">
                    <img src="{{ url_for('static', filename='images/User_Photo.svg')}}" alt="User Photo" style="width: 100%; height: 100%; border-radius: 50%;">
                </div>
                <div class="SashaTchern" style="text-align: center; position: absolute; bottom: 30px; width: 100%; color: white; font-size: 17px; font-family: Lato; font-weight: 700; word-wrap: break-word">Sasha Tchern</div>
                <div class="SashaTchern" style="text-align: center; position: absolute; bottom: 10px; width: 100%; color: rgba(255, 255, 255, 0.25); font-size: 15px; font-family: Lato; font-weight: 400; word-wrap: break-word">@Sasha_Tchern</div>
            </div>    
            <div class="Notifications_Frame">
                <div class="Notifications_Subframe">
                    <div class="Title">
                        <div class="ECT">Notifications</div>
                        <div class="SeeAll">See All</div>
                    </div>
                    <div class="Messages">
                    </div>
                </div>
            </div>
            <div class="Ai_Support_Widget">
                <img src="{{ url_for('static', filename='images/Ai_Support.svg') }}" alt="SVG Image" style="bottom: 20px; left: 50%; position: absolute; transform: translateX(-50%);">
            </div>
        </div>
    </div>
</body>