<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login Page</title>
</head>

<body>
    <div class="App">
        <div class="Loginbox">
            <div i class="LoginProfileIco" style="background-image: url({{ url_for('static', filename='images/Login_Profile.ico') }});" </div>
            <div class="PassUserPrompt">
                <div class="UsernamePrompt">
                    <div i class="PersonIco"></div>
                    <div class="Username">Username:</div>
                </div>
                <div class="PasswordPrompt">
                    <div i class="LockIco"></div>
                    <div class="Password">Password:</div>
                </div>
            </div>
            <div class="SignupSigninButtons">
                <div class="SigninButton">
                    <div class="SignIn">Sign In</div>
                </div>
                <div class="SignupButton">
                    <div class="SignUp">Sign Up</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
