<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="Bg"></div>
    <div class="Rectangle_L">
        <div class="PolygonGroup">
            {% for i in range(0, 8) %}
                {% include 'polygon.html' with rotation=i*10 %}
            {% endfor %}
            <img src="{{ url_for('static', filename='User_Login.svg') }}" style="width: 140px; height: 161.658px; flex-shrink: 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
        </div>
    </div>
</body>
</html>
