<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background: url({{ url_for('static', filename='images/BG.png') }}), center, 100% 100%, no-repeat;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login Page</title>
</head>
<body>
    <div class="App">
        <div class="Loginbox">
            <div class="LoginProfileIco" style="background-image: url({{ url_for('static', filename='images/Login_Profile.ico') }});"> </div>
            <form method="POST" action="/login">
                <div class="PassUserPrompt">
                    <div class="UsernamePrompt">
                        <div class="PersonIco" style="background-image: url({{ url_for('static', filename='images/person.ico') }});"></div>
                        <input type="text" id="username" name="username" class="Username" placeholder="Username:" required />
                    </div>
                    <div class="PasswordPrompt">
                        <div class="LockIco" style="background-image: url({{ url_for('static', filename='images/lock.ico') }});"></div>
                        <input type="password" id="password" name="password" class="Password" placeholder="Password:" required />
                    </div>
                </div>
                <div class="SignupSigninButtons">
                    <div class="SigninButton">
                        <button type="submit" class="SignIn">Sign In</button>
                    </div>
                    <div class="SignupButton">
                       <div class="SignUp">Sign Up</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
