<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/8869c37802.js" crossorigin="anonymous"></script>
</head>
    <body>
        <a href="{{ url_for('logout') }}" class="logout-button">
            <i class="fa-solid fa-right-from-bracket fa-xm"></i>
        </a>
        <div class="WelcomeUser">
            <div class="WelcomeBox">
                <div class="WelcomeBanner">Welcome User</div>
            </div>
            <div class="LoadingBox">
                <div class="LoadingIconBox">
                    <div class="LoadingComponent">
                       <div class="LoadingComponent" id="iconLoader">
                       <i class="fa-solid fa-rotate fa-spin fa-4x" style="color: #f207de;"></i>
                    </div>
                </div>
                <div class="LoadingMessage">Please Wait While Loading Your Page</div>
            </div>
            <script>
                window.onload = function () {
                    setTimeout(function() {
                        const iconLoader = document.getElementById('iconLoader');
                        const loadingMessage = document.querySelector('.LoadingMessage');
                    
                        // Create play button and icon
                        const playButton = document.createElement('button');
                        playButton.classList.add('playButton');
                        playButton.innerHTML = '<i class="fa-solid fa-play" style="color: #f207df;"></i>';
                        
                        // Event listener for play button (for future use)
                        playButton.addEventListener('click', () => {

                        });

                        iconLoader.classList.add('LoadingComponent-hidden');
                        loadingMessage.classList.add('LoadingMessage-hidden');

                        setTimeout(() => {
                            iconLoader.replaceWith(playButton);
                        }, 2500); // This value should match the duration of the CSS transition
                    }, 1000);
                }
            </script>                 
    </body>




