<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background: url({{ url_for('static', filename='images/BG.png') }}), center, 100% 100%, no-repeat;
        }
    </style>
</head>
    <body>
        <div class="WelcomeUser">
            <div class="WelcomeBox">
                <div class="WelcomeBanner">"Welcome User"</div>
            </div>
            <div class="LoadingBox">
                <div class="LoadingIconBox">
                    <div class="LoadingComponent">
                        <div class="LoadingVector">
                            <img src="{{ url_for('static', filename='images/loading.ico') }}" alt="Loading Icon">
                        </div>
                    </div>
                </div>
                <div class="LoadingMessage">"Please Wait While Loading Your Page"</div>
            </div>
        </div>
    </body>



  
    

